<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>.: Quirkey.com :: {{ title }} :: Code :: Quirkey NYC, LLC :: Aaron Quint :: Web Developer :: Brooklyn, NY :.</title>
	<link rel="stylesheet" href="stylesheets/quirkey.css" type="text/css" media="screen" charset="utf-8"true>
	<script src="javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/quirkey.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div id="container">
		<div id="header_holder">
			<div id="header">
				<div id="logo" class="quirkey_nav_open"><img src="images/logo.png" width="224" height="215" alt="Logo"/></div>
				<h1>Quirkey<a href="/" class="q_code">Code</a></h1>
				<div id="quirkey_nav" style="display: none;">
  			  <h1 class="quirkey_portfolio">Quirkey<a href="http://portfolio.quirkey.com/" class="q_portfolio">Portfolio</a><span class="description">Selected work.</span></h1>
				  <h1 class="quirkey_log">Quirkey<a href="http://log.quirkey.com/" class="q_log">Log</a><span class="description">Up-to-the-minute updates from the interweb.</span></h1>
				  <h1 class="quirkey_blog">Quirkey<a href="http://www.quirkey.com/blog/" class="q_blog">Blog</a><span class="description">Articles, Tutorials, etc.</span></h1>
				  <h1 class="quirkey_com">Quirkey<a href="http://www.quirkey.com" class="q_com">.com</a><span class="description">The Lobby; General Information.</span></h1>
				</div>
			</div>
			<div class="quirkey_nav_close" style="display:none;"><a href="#">^</a></div>
		</div>
		<div id="main">
      {{ content }}
		</div>
		<div id="footer">
			<p class="quirkey_links">Quirkey<span>|</span><a href="http://www.quirkey.com" class="q_com">.com</a><span>|</span><a href="http://portfolio.quirkey.com" class="q_portfolio">Portfolio</a><span>|</span><a href="http://code.quirkey.com" class="q_code">Code</a><span>|</span><a href="http://log.quirkey.com" class="q_log">Log</a><span>|</span><a href="http://www.quirkey.com/blog/" class="q_blog">Blog</a></p>
			<p id="copy">client identity and work property of creators. quirkey logo and identity, &copy; 2005-2008 Quirkey NYC, LLC</p>
		</div>
	</div>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-3763169-2");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>